
header .slider .item {
    height: calc(100vh - 56px);
    overflow: hidden;
}

header .slider .item h3{
    visibility: hidden;
}

#servicios {
    background-color: #DD8500;
    color: #fff;
}

.center {
    text-align: center;
}

/**
* GENERALS
**/

section:not(.slider) {
    padding: 60px 0px;
}

section h1{
    margin-bottom: 60px;
}